<!doctype html>
<html>
	<head>
		<title>TrayWeigh</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/screen.css">
	</head>
	<body>
		<div class="nav">
			<div class="nav-container">
				<!-- <div class="nav-tab nav-left">
				</div> -->
				<div class="nav-tab nav-mid">
					<h1>
						find ingredients
					</h1>
				</div>
				<div class="nav-tab nav-right">
					<h2>
						user (organization)
					</h2>
				</div>
			</div>
		</div>
		<div class="main">
			<div class="main-container">
				<!-- <div class="col col-left"></div> -->
				<div class="col col-mid">
					<div class="search-box">
						<input id="search-textbox" placeholder="search for ingredient" class="search-input" type="textbox">
						<div id="search-button" class="search-icon"></div>
					</div>
					<div class="search-results">
						<div class="search-result add-new">
							<div class="add-row">
								<h3>Add Custom</h3>
								<div class="plus">+</div>
							</div>
							<div class="add-input-row hide">
								<input class="name add-input" type="textbox" placeholder="name">
							</div>
							<div class="add-input-row hide">
								<input class="serving add-input" type="textbox" placeholder="serving weight in grams">
							</div>
							<div class="add-input-row hide">
								<input class="calories add-input" type="textbox" placeholder="calories">
							</div>
							<div class="add-input-row hide">
								<input class="sodium add-input" type="textbox" placeholder="sodium in mg">
							</div>
							<div class="add-input-row hide">
								<input class="carbs add-input" type="textbox" placeholder="carbs in g">
							</div>
							<div class="add-input-row hide">
								<input class="sugar add-input" type="textbox" placeholder="sugar in g">
							</div>
							<div class="add-input-row hide">
								<input class="protein add-input" type="textbox" placeholder="protein in g">
							</div>
							<div class="add-input-row hide">
								<input class="fat add-input" type="textbox" placeholder="fat in g">
							</div>
							<div class="add-input-row add-submit hide">
								add ingredient
							</div>
						</div>
					</div>
				</div>
				<div class="col col-right">
					<div class="tray-name form-box">
						<input class="text-input" type="textbox">
					</div>
					<div class="tray-num form-box">
						<input class="text-input" type="textbox">
					</div>
					<div class="ingredients form-box">
					</div>
					<div class="add-tray form-box">
						submit
					</div>
				</div>
			</div>
		</div>
		<script src='js/jquery.js'></script>
		<script src='js/app.js'></script>
	</body>
</html>
